/* Reset + Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Bank Card */
.bank-card {
  position: relative;
  width: 80%;
  height: 180px;
  border-radius: 16px;
  overflow: hidden;
  margin-top: 2rem;
  margin-left: 1rem;

}.bank-card2 {
  position: relative;
  width: 80%;
  height: 180px;
  border-radius: 16px;
  overflow: hidden;
  margin-top: -7rem;
  margin-bottom: 1rem;
  margin-left: 3.5rem;
}

.card-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem;
  z-index: 2;
}

.card-top {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 0.9rem;
}

.card-type {
  font-weight: bold;
}

.card-blur {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1;
}

.card-bottom {
  position: relative;
  z-index: 2;
}

.balance-label {
  font-size: 0.75rem;
  opacity: 0.8;
}

.balance-amount {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Bottom Section */
.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Text Content */
.text-content h1 {
  font-size: 2rem;
  color: white;
  line-height: 1.2;
}

.text-content p {
  font-size: 0.8rem;
  color: white;
  margin-top: 0.8rem;
}

/* Actions */
.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  background: #d8b277;
  color: black;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.01);
  background: #000;
  color: #d8b277;
}

.glass-button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 1rem;
  text-align: center;
  transition: all 0.3s ease;
  text-decoration: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.glass-button:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-2px);
}

/* Fade-in animations */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.fade-delay-1 { animation-delay: 0.2s; }
.fade-delay-2 { animation-delay: 0.5s; }
.fade-delay-4 { animation-delay: 0.9s; }
.fade-delay-3 { animation-delay: 0.8s; }

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
